@font-face{
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.eot');
    src: url('./fonts/Gilroy-Regular.eot?iefix') format('eot'),
    url('./fonts/Gilroy-Regular.woff') format('woff'),
    url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    color: white;
    height: 64px;
    border: 1px solid white;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font: 600 18px/28px "Gilroy", sans-serif;
}

.button:hover {
    background: white;
    color: #232323;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    background: #232323;
    color: white;
    padding: 0 16%;
}

.header__logo, .header__contacts {
    width: 33%;
}

.header__site {
    display: flex;
    justify-content: center;
    font: 500 18px/28px "Gilroy", sans-serif;
    color: white;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
}

.header__contacts-item {
    font: 500 18px/28px "Gilroy", sans-serif;
    color: white;
}

.header__contacts-item:first-child {
    margin-right: 20px;
}

.header__burger {
    display: none;
}

@media (max-width: 1280px) {
    .header {
        padding: 0 10%;
    }
    .header__contacts {
        flex-direction: column;
        align-items: flex-end;
    }
    .header__contacts-item:first-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .header {
        height: 60px;
        padding: 0 16px;
    }
    .header__contacts {
        display: none;
    }
    .header__site {
        display: none;
    }
    .header__burger {
        display: flex;
        justify-content: flex-end;
        width: 20%;
    }
}

@media (max-width: 420px) {
    .header__logo, .header__burger {
        width: 50%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #232323;
}

.carousel {
    display: flex;
    width: 100%;
    height: 910px;
}

.carousel__description {
    display: flex;
    align-items: center;
    width: 50%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 5%;
}

.carousel__description-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20% 0 20px;
    height: 140px;
    width: 20px;
}

.carousel__description-block {
    display: flex;
    flex-direction: column;
}

.carousel__description-block-title {
    display: flex;
    width: 100%;
    font: 700 50px/78px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 10px;
}

.carousel__description-block-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.carousel__description-block-text-big {
    font: 400 24px/37px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 10px;
}

.carousel__description-block-text-little {
    font: 400 16px/25px "Gilroy", sans-serif;
    color: white;
}

.carousel__description-block-consultation {
    display: flex;
    width: 100%;
}

.carousel__description-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/Bgrng.png");
}

@media (max-width: 1600px) {
    .carousel__description {
        padding: 0 3%;
    }
}

@media (max-width: 1280px) {
    .carousel {
        height: 664px;
    }

    .carousel__description {
        padding: 0 3%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .carousel__description-social {
        flex-direction: row;
        width: 140px;
        height: 20px;
        margin: 0;
    }

    .carousel__description-block {
        margin-bottom: 30px;
        align-items: center;
    }

    .carousel__description-block-title {
        justify-content: center;
        font: 600 32px/50px "Gilroy", sans-serif;
    }

    .carousel__description-block-text {
        margin-bottom: 50px;
    }

    .carousel__description-block-text-big {
        text-align: center;

    }

    .carousel__description-block-text-little {
        text-align: center;

    }

    .carousel__description-block-consultation {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .carousel {
        flex-direction: column-reverse;
    }

    .carousel__description {
        width: 100%;
        height: 50%;
        border-bottom: none;
    }

    .carousel__description-social {
        flex-direction: row;
        width: 140px;
        height: 20px;
        margin: 0;
    }

    .carousel__description-block {
        margin-bottom: 30px;
        align-items: center;
    }

    .carousel__description-block-title {
        justify-content: center;
        font: 600 32px/50px "Gilroy", sans-serif;
    }

    .carousel__description-block-text {
        margin-bottom: 50px;
    }

    .carousel__description-block-text-big {
        text-align: center;

    }

    .carousel__description-block-text-little {
        text-align: center;

    }

    .carousel__description-block-consultation {
        justify-content: center;
    }

    .carousel__description-image {
        width: 100%;
        height: 50%;
    }
}

.about {
    display: flex;
    align-items: center;
    width: 100%;
    background: #232323;
    flex-direction: column;
    padding: 200px 0;
}

.about__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 50px;
}

.about__block {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.about__block-group {
    display: flex;
    width: 50%;
}

.about__block-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
}

.about__block-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.about__block-description-title {
    font: 700 18px/28px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 10px;
}

.about__block-description-text {
    text-align: center;
    font: 500 16px/25px "Gilroy", sans-serif;
    color: white;
}

@media (max-width: 1280px) {
    .about {
        padding: 200px 0 0;
    }

    .about__title {

    }

    .about__block {
        width: 100%;
    }

    .about__block-group {
        width: 100%;
    }

    .about__block-group:nth-child(2) {
        flex-direction: row-reverse;
    }

    .about__block-group:nth-child(3) {
        flex-direction: row-reverse;
    }

    .about__block-group:nth-child(6) {
        flex-direction: row-reverse;
    }

    .about__block-group:nth-child(7) {
        flex-direction: row-reverse;
    }
}

@media (max-width: 600px) {
    .about__block-group {
        position: relative;
    }

    .about__block-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }

    .about__block-image {
        width: 100%;
    }
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 200px 0;
    background: #1C1C1C;
}

.work__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 50px;
}

.work__steps {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 100px;
}

.work__steps-item {
    display: flex;
    flex-direction: column;
    width: 387px;
    height: 188px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
}

.work__steps-item-title {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.work__steps-item-title-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    color: #232323;
    margin-right: 12px;
    font: 700 18px/28px "Gilroy", sans-serif;
}

.work__steps-item-title-text {
    font: 700 18px/28px "Gilroy", sans-serif;
    color: white;
}

.work__steps-item-description {
    font: 500 16px/25px "Gilroy", sans-serif;
    color: white;
}

@media (max-width: 1280px) {
    .work {
        padding: 150px 0;
    }

    .work__steps {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }

    .work__steps-item {
        width: 100%;
        margin-bottom: 20px;
        height: 163px;
    }
}

@media (max-width: 768px) {
    .work__steps {
        padding: 0;
        margin-bottom: 50px;
    }

    .work__steps-item {
        margin-bottom: 10px;
        height: 188px;
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 200px;
}

.portfolio__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 50px;
}

.portfolio__carousel {
    width: 100%;
    display: flex;
    height: 735px;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.portfolio__carousel-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    animation: carousel 10s linear infinite;
}

.portfolio__carousel-container:hover{
    animation-play-state: paused;
}

.portfolio__carousel-item {
    position: relative;
    flex: 0 0 auto;
    width: 1080px;
    margin-right: 20px;
    counter-increment: item;
}

.portfolio__carousel-item img {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:auto;
    height:100%;
    object-fit:cover;
}

@keyframes carousel {
    50% { left: -100%; }
    100% { left: 0; }
}

@media (max-width: 1280px) {
    .portfolio__carousel {
        height: 720px;
    }

    .portfolio {
        padding-top: 150px;
    }
}

@media (max-width: 600px) {
    .portfolio__carousel {
        height: 500px;
    }
}

.comparison {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 200px;
}

.comparison__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.comparison__component {
    display: flex;
    width: 1200px;
    height: 680px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1280px) {
    .comparison {
        padding-top: 150px;
    }

    .comparison__component {
        width: 100%;
        height: auto;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .comparison__title {
        font: 600 22px/34px "Gilroy", sans-serif;
    }
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    width: 100%;
}

.video__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.video__description {
    font: 500 16px/25px "Gilroy", sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.video__component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 680px;
}

@media (max-width: 1280px) {
    .video {
        padding-top: 150px;
    }

    .video__title {
        font: 600 32px/50px "Gilroy", sans-serif;
        color: white;
        margin-bottom: 50px;
    }

    .video__description {
        font: 500 16px/25px "Gilroy", sans-serif;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }

    .video__component {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .video__title {
        font: 600 22px/34px "Gilroy", sans-serif;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 200px 0;
}

.form__title {
    font: 600 32px/50px "Gilroy", sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.form__description {
    font: 400 18px/28px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.form__component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 705px;
    height: 603px;
    color: white;
    border: 1px solid white;
}

@media (max-width: 1280px) {
    .form {
        padding: 150px 0;
    }

    .form__component {
        width: 100%;
        height: 603px;
    }
}

@media (max-width: 768px) {
    .form {
        padding: 100px 0;
    }
    .form__title {
        font: 600 22px/34px "Gilroy", sans-serif;
    }
}

.footer {
    display: flex;
    width: 100%;
    background: #1C1C1C;
    height: 278px;
    padding: 0 360px;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 44%;
}

.footer__right-block {
    display: flex;
    justify-content: space-between;
    width: 56%;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__contacts-item {
    font: 500 18px/28px "Gilroy", sans-serif;
    color: white;
}

.footer__contacts-item:first-child {
    margin-bottom: 10px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: flex-end;
}

.footer__social-email {
    font: 500 18px/28px "Gilroy", sans-serif;
    color: white;
    margin-bottom: 30px;
}

.footer__social-items {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 140px;
}

@media (max-width: 1280px) {
    .footer {
        width: 100%;
        height: 278px;
        padding: 0 100px;
    }
}

@media (max-width: 768px) {
    .footer {
        align-items: flex-start;
        padding: 50px 20px 0;
    }

    .footer__right-block {
        flex-direction: column;
        align-items: flex-end;
    }

    .footer__contacts {
        margin-bottom: 30px;
    }
}































